/* https://stackoverflow.com/questions/10085723/twitter-bootstrap-add-top-space-between-rows */
.top-bottom-buffer{ margin-top: 0.5rem; margin-bottom: 0.5rem; }
.top-buffer{ margin-top: 0.5rem; }
.bottom-buffer{ margin-bottom: 0.5rem; }

.fadeinout {
    opacity: 0;
    transition:
    opacity 3s;
}